<!DOCTYPE html>
<html lang="en">

<head>
    <title>Catolog</title>
    <%- include("src/templates/head.html") %>
    </head>

<body>
    <section class="catalog">
        <div class="container">
                    <%- include("src/templates/header.html") %>
            <h1 class="title-h2 catalog__title">our pottery</h1>

            <div class="catalog__tabs">
                <button class="catalog__tab catalog__tab_active">for tea</button>
                <button class="catalog__tab">for kitchen</button>
                <button class="catalog__tab">for plants</button>
            </div>

            <div class="catalog__content">
                <div class="catalog__content-item">
                    <div class="content-item-wrapper">
                        <img src="/src/img/works/tea-1.jpg" alt="tea" class="catalog__img">
                        <div class="catalog_txt">
                            <h2 class="catalog__item-title">Terracotta Whisper</h2>
                            <p class="catalog__item-price">19.99 €</p>
                        </div>
                    </div>
                    <div class="content-item-wrapper">
                        <img src="/src/img/works/tea-2.jpg" alt="tea" class="catalog__img">
                        <div class="catalog_txt">
                            <h2 class="catalog__item-title">Clay Bloom</h2>
                            <p class="catalog__item-price">24.99 €</p>
                        </div>
                    </div>
                    <div class="content-item-wrapper">
                        <img src="/src/img/works/tea-3.jpg" alt="tea" class="catalog__img">
                        <div class="catalog_txt">
                            <h2 class="catalog__item-title">Earthen Grace</h2>
                            <p class="catalog__item-price">16.99 €</p>
                        </div>
                    </div>
                    <div class="content-item-wrapper">
                        <img src="/src/img/form/tea.jpg" alt="tea" class="catalog__img">
                        <div class="catalog_txt">
                            <h2 class="catalog__item-title">Moss & Moon</h2>
                            <p class="catalog__item-price">21.99 €</p>
                        </div>
                    </div>
                    <div class="content-item-wrapper">
                        <img src="/src/img/catalog/01_Solace Set.jpg" alt="tea" class="catalog__img">
                        <div class="catalog_txt">
                            <h2 class="catalog__item-title">Solace Set</h2>
                            <p class="catalog__item-price">29.99 €</p>
                        </div>
                    </div>
                </div>

                <div class="catalog__content-item">
                    <div class="content-item-wrapper">
                        <img src="/src/img/catalog/02_Solace Set.jpg" alt="tea" class="catalog__img">
                        <div class="catalog_txt">
                            <h2 class="catalog__item-title">Terracotta Whispr</h2>
                            <p class="catalog__item-price">19.99 €</p>
                        </div>
                    </div>
                    <div class="content-item-wrapper">
                        <img src="/src/img/catalog/03_Solace Set.jpg" alt="tea" class="catalog__img">
                        <div class="catalog_txt">
                            <h2 class="catalog__item-title">Clay Bloom</h2>
                            <p class="catalog__item-price">24.99 €</p>
                        </div>
                    </div>
                    <div class="content-item-wrapper">
                        <img src="/src/img/catalog/04_Solace set.jpg" alt="tea" class="catalog__img">
                        <div class="catalog_txt">
                            <h2 class="catalog__item-title">Earthen Grace</h2>
                            <p class="catalog__item-price">16.99 €</p>
                        </div>
                    </div>
                </div>

                <div class="catalog__content-item">
                    <div class="content-item-wrapper">
                        <img src="/src/img/catalog/05_Solace set.jpg" alt="tea" class="catalog__img">
                        <div class="catalog_txt">
                            <h2 class="catalog__item-title">Terracotta Whisper</h2>
                            <p class="catalog__item-price">19.99 €</p>
                        </div>
                    </div>
                    <div class="content-item-wrapper">
                        <img src="/src/img/catalog/06_Solace set.jpg" alt="tea" class="catalog__img">
                        <div class="catalog_txt">
                            <h2 class="catalog__item-title">Clay Bloom</h2>
                            <p class="catalog__item-price">24.99 €</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
        <%- include("src/templates/footer.html") %>
    <script type="module" src="/src/js/script.js"></script>
</body>

</html>