@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.blog {
    padding-top: 50px;

    &__title {
        margin-top: 60px;
    }

    &__title-h3 {
        text-align: left;
    }

    &__wrapper {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

    }

    &__card {
        border: 1px solid $dark;
        background: $light;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    }



    &__data {
        &-column {
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding: 25px 25px 0 25px;
        }
    }

    &__img {
        max-inline-size: calc(100% + 2px);
        transform: translateX(-1px) translateY(-1px);
    }

    &__txt {
        margin-top: 25px;
        padding: 0 25px 25px 25px;
        color: $dark;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media screen and (min-width: 768px) {
    .blog {
        &__wrapper {
            padding: 25px 25px 0 25px;
            position: relative;
            @include angle-decoration;
        }

        &__txt {
            margin-top: 15px;
        }

        &__data {
            &-column {
                justify-content: space-between;
                padding: 25px 25px 0 25px;
            }
        }

        &__img {
            display: block;
            margin: 0 auto;
            width: 600px;
        }

    }
}

@media screen and (min-width: 1200px) {
    .blog {
        &__wrapper {
            gap: 50px;
            justify-content: space-between;
        }

        &__card {
            width: 520px;
            height: 100%;
        }

        &__img {
            height: 240px;
            object-fit: cover;
        }

    }
}

@media screen and (min-width: 1920px) {
    .blog {
        &__card {
            width: 670px;
            height: 100%;
        }

    }
}